section
  position: absolute
  height: 100%
  width: calc(100% - 150px)
  right: 0
  bottom: 0

  h1
    font-size: 50px

  h2
    font-size: 30px
    padding: 5px 10px
    background: $orange
    border-radius: 10px
    width: 110%
    box-shadow: 5px 5px 20px black

  p
    font-size: 24px
    padding: 10px 0

  .video-summary
    display: flex
    justify-content: space-between
    margin: 60px 30px

    video
      height: 416px
      width: 740px

    .summary
      padding: 60px 0 0 30px

  .game-details
    margin: 0 30px

.games
  display: none
