section
  absolute(top 0 left 0)

  h1
    font-size 50px


  .game-summary
    display flex
    justify-content space-around
    align-items center
    margin-top 20px

    img
      size(740px 412px)

    .summary
      h2
        font-size 24px
        width 600px
        padding 10px 15px
        background $orange

  .game-details
    margin 0 30px

    p
      font-size 28px
      padding 10px 0
      text-align justify

.games
  display none

.qutesports
  #wrapper
    vertically-align()

    #timer
      font-size 100px
      text-align center
      color $orange
