section
  absolute(top 0 left 0)

  h1
    font-size 50px

  .game-summary
    display flex
    justify-content space-between
    align-items center
    margin 20px

    img
      size(630px 350px)
      border-radius 5px

    .summary
      h2
        font-size 24px
        width 600px
        padding 10px 15px
        background $orange
        border-radius 5px

  .game-details
    margin 20px
    background rgba($light-blue, 0.6)
    border-radius 5px
    padding 5px

    h1
      padding  0 10px

    p
      font-size 28px
      padding 10px
      text-align justify

.games
  display none
