section
  absolute(bottom 0 left 0)
  size: calc(100% - 170px) 100%

  h1
    font-size: 50px

  h2
    font-size: 24px
    padding: 5px 0 5px 5px
    background: $orange
    border-radius: 10px
    width: 110%
    box-shadow: 5px 5px 20px black

  p
    font-size: 28px
    padding: 10px 0

  .video-summary
    display: flex
    justify-content: space-between
    margin: 60px 40px 30px

    .summary
      padding-top: 50px

  .game-details
    margin: 0 30px

.games
  display: none
