header
  fixed(bottom 0)
  display flex
  width 100%
  align-items center
  justify-content space-around
  flex-wrap wrap
  margin-bottom 20px

  a
    display flex
    justify-content center
    flex-wrap wrap
    width 200px
    padding 10px 30px
    background $orange
    transition all 0.5s ease-in-out

    img
      size(100px)
      transition all 0.5s ease-in-out

  a:hover, .is-selected
    background green

    img
      transform scale(1.1)
