header
  fixed(bottom 0)
  display flex
  width 100%
  align-items center
  justify-content space-around
  flex-wrap wrap
  margin-bottom 20px

  a
    display flex
    justify-content center
    flex-wrap wrap
    width 200px
    padding 10px 30px
    background $orange
    transition all 0.5s ease-in-out

    img
      size(100px)

    /* TODO: Remove span if not required */
    span
      display none
      size(100%)
      text-align center
      margin-top 20px
      font-size 20px
      font-weight 600

  a:hover, .is-selected
    background green
