header
  fixed: right 0
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  size: 150px 100%

  a
    width: 100px
    padding: 10px 30px
    border-radius: 10px
    box-shadow: 5px 5px 20px black
    background: $orange
    transition: all ease-in-out 0.5s

    img
      display: block
      size: 100px

    span
      display: block
      text-align: center
      margin-top: 20px
      font-size: 20px
      font-weight: 600

  a:hover, .is-selected
    transform: translateX(10px)
