@import 'vars'
@import 'font'
@import 'header'
@import 'games'

body, h1, p
  margin: 0
  color: white

body
  font-family: 'uvf_bourgeois_med'
  overflow: hidden
  background: $dark-blue

  h1, h2, span
    font-family: 'nevisbold'
